.option {
  display: none;
  text-align: center;
  padding-top: 70px;
  margin: auto;
}
div .phyInfo {
  text-align: right;
  width: 300px;
  height: 120px;
  margin: 0px auto;
  padding-bottom: 10px auto;
}
.images img {
  width: 250px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}
/*상단바 관련*/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding-top: 70px;
}
.preset {
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;

  /*가로 세로 200px만큼 줄이기*/
  width: 800px;
  height: auto;

  overflow: auto; /*내용이 넘칠경우 스크롤 생기도록 설정*/
}
.preset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  margin: 10px auto;
  width: 450px;
  height: 450px;
  /*height: auto;*/
}
.item img {
  width: 200px;
  height: 270px;
  margin-right: 10px;
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.delete-button {
  background-color: #dc3545;
}
.settings-button {
  margin-left: 10px;
}

/*옵션 관련 스타일*/
.option {
  display: none;
}
.images img {
  width: 100px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

/*상하의선택옵션 관련*/
.hidden {
  display: none;
}
.item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
}
